.Orange{
border-top: 5px solid #e47d26;
background-color: rgba(228, 117, 38, 0.15);
margin-bottom: 0px;
}

.Rose{
	border-top: 5px solid #e44d96;
background-color: rgba(228, 77, 128, 0.15);
margin-bottom: 0px;
}